<style>
  @font-face {
    font-family: "BlairITCMedium";
    src: url("{{ 'BlairITCMedium.otf' | asset_url }}") format("opentype");
  }
  @font-face {
    font-family: "NeueHaasDisplayMedium";
    src: url("{{ 'NeueHaasDisplayMedium.ttf' | asset_url }}") format("opentype");
  }
</style>
<div class="">
  <h4 style="font-family: 'BlairITCMedium', sans-serif;color: #E87E3F">THE H-75 CHRONOGRAPH</h4>
  <h3 style="font-family: 'NeueHaasDisplayMedium', sans-serif;">Rugged & Field-Tested</h3>
</div>
