{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  <div class="">
    <img
      src="{{ '_C6A0053.png' | asset_url }}"
      height="100%"
      width="100%"
      alt="Description of Image"
    >
  </div>
  <div class="">
    <div class="">
      <h4>The 70s golden</h4>
      <h4>age of military</h4>
      <h4>watches revived.</h4>
    </div>
    <div class="">
      <p>
        The H-75 belongs to some of the last generations of mechanical chronographs used in modern militaries. Guided by
        operational requirements, the oversized “arrow” chronograph second hand & oversized hour indexes both serve to
        ensure extreme legibility in all conditions.
      </p>
    </div>
  </div>
</div>
