{{ 'hero.css' | asset_url | stylesheet_tag }}

<style>
  @font-face {
    font-family: 'NeueHaasDisplayMedium';
    src: url("{{ 'NeueHaasDisplayMedium.ttf' | asset_url }}") format('opentype');
  }
  .headings > h4 {
    font-family: 'NeueHaasDisplayMedium', sans-serif;
  }
</style>

<div class="hero">
  <div class="">
    <img
      src="{{ '_C6A0053.png' | asset_url }}"
      height="100%"
      width="100%"
      alt="Description of Image"
    >
  </div>
  <div class="text">
    <div class="headings">
      <h4>The 70s golden</h4>
      <h4>age of military</h4>
      <h4>watches revived.</h4>
    </div>
    <p>
      The H-75 belongs to some of the last generations of mechanical chronographs used in modern militaries. Guided by
      operational requirements, the oversized “arrow” chronograph second hand & oversized hour indexes both serve to
      ensure extreme legibility in all conditions.
    </p>
  </div>
</div>
