{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  <div style="" class="">
    <img
      class="desktop"
      src="{{ '_C6A0053.png' | asset_url }}"
      height="100%"
      width="100%"
      alt="Description of Image"
    >
    <img
      class="mobile"
      src="{{ 'mobile_C6A0053.png' | asset_url }}"
      height="100%"
      width="100%"
      alt="Description of Image"
    >
  </div>
  <div class="text">
    <h1 class="headings">The 70s golden age of military watches revived.</h1>
    <p>
      The H-75 belongs to some of the last generations of mechanical chronographs used in modern militaries. Guided by
      operational requirements, the oversized “arrow” chronograph second hand & oversized hour indexes both serve to
      ensure extreme legibility in all conditions.
    </p>
  </div>
</div>
