{{ 'hero.css' | asset_url | stylesheet_tag }}

<style>
  @font-face {
    font-family: 'NeueHaasDisplayMedium';
    src: url("{{ 'NeueHaasDisplayMedium.ttf' | asset_url }}") format('opentype');
  }
  .headings > h4 {
    font-family: 'NeueHaasDisplayMedium', sans-serif;
  }
</style>
<div class="hero mobile-reversable">
  <div
    class="mobile"
  >
    <img
      src="{{ 'mobile_C6A0441.png' | asset_url }}"
      height="100%"
      width="100%"
      alt="Description of Image"
    >
  </div>
  <div class="text">
    <h1 class="headings">Usability in all conditions.</h1>
    <p>
      Over-sized chronograph pushers & a notched bezel are two distinct design choices made to guarantee the H-75’s
      usability with aviation or field gloves.
    </p>
  </div>

  <div
    class="desktop"
  >
    <img
      src="{{ '_C6A0441.png' | asset_url }}"
      height="100%"
      width="100%"
      alt="Description of Image"
    >
  </div>
</div>
