{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  <div class="text">
    <div class="headings">
      <h4>Usability in all</h4>
      <h4>conditions.</h4>
    </div>
    <p>
      Over-sized chronograph pushers & a notched bezel are two distinct design choices made to guarantee the H-75’s
      usability with aviation or field gloves.
    </p>
  </div>
  <div class="">
    <img
      src="{{ '_C6A0053.png' | asset_url }}"
      height="100%"
      width="100%"
      alt="Description of Image"
    >
  </div>
</div>
