@font-face {
    font-family: "neueHaas";
    font-weight: 600;
    src: url("{{ 'fonts/neueHaasDisplay/Medium.ttf' | asset_url }}") format("opentype");
}
@font-face {
    font-family: "neueHaas";
    font-weight: 900,bolder;
    src: url("{{ 'fonts/neueHaasDisplay/Black.ttf' | asset_url }}") format("opentype");
}
@font-face {
    font-family: "neueHaas";
    font-weight: 700,bold;
    src: url("{{ 'fonts/neueHaasDisplay/Bold.ttf' | asset_url }}") format("opentype");
}
@font-face {
    font-family: "neueHaas";
    font-weight: 100;
    src: url("{{ 'fonts/neueHaasDisplay/XXThin.ttf' | asset_url }}") format("opentype");
}
@font-face {
    font-family: "neueHaas";
    font-weight: 200;
    src: url("{{ 'fonts/neueHaasDisplay/XThin.ttf' | asset_url }}") format("opentype");
}
@font-face {
    font-family: "neueHaas";
    font-weight: 300;
    src: url("{{ 'fonts/neueHaasDisplay/Thin.ttf' | asset_url }}") format("opentype");
}
@font-face {
    font-family: "neueHaas";
    font-weight: 400;
    src: url("{{ 'fonts/neueHaasDisplay/Ligt.ttf' | asset_url }}") format("opentype");
}
@font-face {
    font-family: "neueHaas";
    font-weight: 500;
    src: url("{{ 'fonts/neueHaasDisplay/Roman.ttf' | asset_url }}") format("opentype");
}

