.hero{
    display: flex;
    align-items: center;
    align-content: center;
}
.hero > div {
    flex: 1;
}
.hero > .text {
  padding: 4rem;
}

.hero > .text > .headings{
    font-family: 'neueHaas';
    font-weight: 100 !important;
}
.hero > .text > p{
    font-family: 'NeueHaasDisplayBlack', sans-serif;
    font-weight: 100;
    font-size: medium;
    margin-top: 16px;
    max-width: 300px;
    line-height: 22px;

}


html{
    background-color: #1D1816;
    color: white;
}