@media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
    }
    .hero.mobile-reversable {
        flex-direction: column-reverse;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .hero{
        flex-direction: row;
    }
    .hero.mobile-reversable {
        flex-direction: row;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
}

.hero{
    display: flex;
    align-items: center;
    align-content: center;
}
.hero > div {
    flex: 1;
}
.hero > .text {
  padding: 4rem;
}

.hero > .text > p{
    font-family: 'NeueHaasDisplayBlack', sans-serif;
    font-weight: 100;
    font-size: medium;
    margin-top: 16px;
    max-width: 300px;
    line-height: 22px;

}


html{
    background-color: #1D1816;
    color: white;
}
